.bannercontent{float:left;margin:0;padding:0;width:50%}
.bannerhomearea{float:left;margin:0;padding:6% 0 0;width:100%;clear:both;background-image: url("../public/assets/images/online-resume-builder-bg.svg"); background-repeat: no-repeat;background-position: center top;}
.bannerhomearea h1{font-family: 'DM Sans', sans-serif;color: #385658;font-size: 42px;margin: 144px 0 15px;padding: 0;float: left;width: 100%;line-height: 64px;font-weight: bold;}
.bannerhomearea p{font-family: 'Work Sans',sans-serif;font-size: 23px;margin: 0 0 10px;padding: 0;font-weight: 500;text-align: left;color: #536376;float: left;}
.getstartedbuilder{float: left;margin: 15px 0 0 0;padding: 0;width: 100%;clear: both;}
.getstartedbuilder a{background-color: #fa5757;color: #FFF;margin: 0;padding: 15px 30px;text-align: center;text-decoration: none;outline: none;font-family: 'DM Sans', sans-serif;font-size: 15px;float: left;font-weight: bold;}

.homebannercv{float:left;margin:0;padding:0;width:50%;max-height:590px;overflow:hidden;position:relative;box-shadow:0 0 20px 0 #939393}
.homebannercv img{max-width:100%;position:relative;z-index:9}


.resumeservices{float:left;margin:0;padding:80px 0 70px 0;width:100%;background-color:#edf2fb;clear:both}
.resumeservices h2{font-family: 'DM Sans', sans-serif;color:#385658;font-size:31px;margin:0 0 15px;padding:0;float:left;width:100%;font-weight:bold;text-align:center}
.resumeservices p{font-family: 'DM Sans', sans-serif;float: left;color: #626C6C;font-size: 15px;margin: 0 0 40px;padding: 0;width: 100%;font-weight: 500;text-align: center;line-height: 24px;}


.resumeservices .resumeservicesinfo{float:left;margin:0;padding:0;width:100%;clear:both}
.resumeservices1{float:left;margin:0;padding:0;width:100%;text-align: center;}
.resumeservices1 h4{font-family: 'DM Sans', sans-serif;
float: left;
color: #626C6C;
font-size: 19px;
margin: 20px 0 10px 0;
padding: 0;
width: 100%;
font-weight: bold;
text-align: center;
line-height: 24px;}
.resumeservices1 p{font-family: 'DM Sans', sans-serif;
float: left;
color: #626C6C;
font-size: 15px;
margin: 0 0 10px;
padding: 0 25%;
width: 100%;
font-weight: 500;
text-align: center;
line-height: 24px;}




.resumecoverletters{background-image:url("/assets/images/resumedots.jpg");background-repeat:no-repeat;background-position:5% 60px;float:left;margin:0;padding:50px 0;width:100%;background-color:#FFF;clear:both;text-align:center}
.resumecoverletters h2{font-family: 'DM Sans', sans-serif;color:#385658;font-size:31px;margin:0 0 15px;padding:0;float:left;width:100%;font-weight:bold;text-align:center}
.resumecoverletters p{font-family: 'DM Sans', sans-serif;float: left;color: #626C6C;font-size: 15px;margin: 0 0 40px;padding: 0;width: 100%;font-weight: 500;text-align: center;line-height: 24px;}


.resumecoverletters .resumecoverblock{float:left;margin:40px 3% 30px;padding:0;width:100%;max-width:27%}
.resumecoverletters .resumecoverblock img{box-shadow:0 0 20px 0 #dce6f3}
.viewtemplates{float:left;margin:20px 0;padding:0;width:100%;text-align:center;display: inline-grid;}
.viewtemplates a{background-color: #fa5757;color: #FFF;margin: 0 auto;padding: 15px 30px;text-align: center;text-decoration: none;outline: none;font-family: 'DM Sans', sans-serif;font-size: 15px;float:left;font-weight: bold;min-width: 200px;}
.viewtemplates a:hover{background-color:#ffde00;color:#000}


.arrangelayouts{float:left;margin:0;padding:50px 0;width:100%;background-color:#eef5ff;clear:both;text-align:center}
.arrangelayouts h2{font-family: 'DM Sans', sans-serif;float:left;color: #385658;font-size:27px;margin:0 0 15px;padding:0;width:100%}
.arrangelayouts h2 b{font-family: 'DM Sans', sans-serif; font-weight:900;font-size:36px}
.arrangelayouts p{font-family:'Work Sans',sans-serif;float:left;color:#29293a;font-size:13px;margin:0 0 10px;padding:0;width:100%}
.deliverbest{float: left;margin: 0 0 0 0;padding: 0 0 0 0;width: 100%;}
.deliverbest h3{font-family: 'DM Sans', sans-serif;font-size: 27px;margin: 0 0 20px;padding: 0;font-weight: 700;float: left;width: 100%;text-align: left;}
.deliverbest ul{float: left;width: 100%;margin: 40px 0 20px 0;padding: 0;list-style: none;text-align: left;}
.deliverbest ul li{float: left;width: 100%;margin: 0 0 10px;padding: 5px 0 5px 30px;background-image:url("/assets/images/check.svg");background-repeat: no-repeat;background-position: center left;font-family: 'DM Sans', sans-serif;font-size: 17px;font-weight: 500; color: #626C6C;}

.whychoosebtn{float: left;
margin: 40px 30px 20px 0;
padding: 0;
width: 100%;
text-align: left;
clear: both;}
.whychoosebtn a{background-color: #fa5757;
color: #FFF;
margin: 0 auto;
padding: 15px 30px;
text-align: center;
text-decoration: none;
outline: none;
font-family: 'DM Sans', sans-serif;
font-size: 15px;
float: none;
font-weight: bold;}
.whychoosebtn a:hover{}
.whychoose{background-image:url("/assets/images/why-choose.svg");background-repeat: no-repeat;background-position: center left;background-size: 25%;padding: 100px 0 100px 0;margin: 0 0 0 0;float: left;width: 100%;}

.whychooseblock{float: left;width: 95%;padding: 25px 20px 15px;margin-bottom: 20px;background: #fff;border: 1px solid #eee;box-shadow: 0px 2px 12px 0px rgba(154, 161, 171, 0.18);-webkit-box-shadow: 0px 2px 12px 0px rgba(154, 161, 171, 0.18);-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}

.whychooseblock .innerbox {position: relative;padding-left: 80px;}
.whychooseblock .innerbox .iconimg{position: absolute;left: 0;top: 0;}
.whychooseblock .innerbox .iconimg img {height: auto;max-width: 80%;width: 100%;}

.whychooseblock .innerbox  h3{font-family: 'DM Sans', sans-serif;font-size: 20px;color: #385658;margin: 1px 0 10px;padding: 0;line-height: 24px;text-align: left;font-weight: 700;float: left;width: 100%;}
.whychooseblock .innerbox p{font-family: 'DM Sans', sans-serif;font-size: 13px;color: #626C6C;margin: 0;padding: 0;text-align: left;width: 100%;float: left;line-height: 20px;}


.whowecontant{float: left;width: 100%;margin: 0 0 0 0;padding: 0 0 0 0;}
.whowecontant h3{font-family: 'DM Sans', sans-serif;float: left;color: #385658;font-size: 31px;margin: 20px 0 15px 0;padding: 0;width: 100%;font-weight: 700;text-align: left;}
.whowecontant p{font-family: 'DM Sans', sans-serif;float: left;color: #626C6C;font-size: 13px;margin: 0 0 15px;padding: 0;width: 100%;font-weight: 400;text-align: left;line-height: 20px;}




.servicesprovide {float: left;margin: 0;padding: 50px 0;width: 100%;background-color: #fff;clear: both;text-align: center;}
.customcvtemplate {position: relative;padding: 49px 20px;background: #fff;border-radius: 15px;overflow: hidden;box-shadow: 0 5px 40px 0 rgb(0 0 0 / 11%);float: left;width: 100%;margin: 40px 0 20px 0;background-image:url("/assets/images/customcvtemplate.svg");background-repeat: no-repeat;background-position: 20px 20px;}

.customcvtemplate h3 { font-family: 'DM Sans', sans-serif;
  font-size: 27px;
  margin: 0 0 20px 21%;
  padding: 0;
  font-weight: bold;
  float: left;
  width: 50%;
  color: #626C6C;
}
.viewtemplates1{float: right;margin: 40px 30px 20px 0;padding: 0;width: auto;text-align: center;}
.viewtemplates1 a{background-color: #6acdff;
color: #FFF;
margin: 0;
padding: 10px 24px;
text-align: center;
text-decoration: none;
outline: none;
font-family: 'DM Sans', sans-serif;
font-size: 14px;
float: right;
font-weight: 500;}
.viewtemplates1 a:hover{background-color:#ffde00;color:#000}

.howweare{background:#EDF9FF;float:left;margin:0;padding:90px 0;width:100%;clear:both}
.howweare h2{font-family: 'DM Sans', sans-serif;float:left;color:#385658;font-size:31px;margin:0 0 15px;padding:0;width:100%;font-weight:700;text-align:center}
.howweare p{font-family: 'DM Sans', sans-serif;float:left;color:#626C6C;font-size:13px;margin:0 0 40px;padding:0;width:100%;font-weight:400;text-align:center}
.howweare .howweareinfo{float: left;margin: 0 0 30px;padding: 30px 15px;width: 100%;background-color: #fff;border-radius: 15px;min-height: 175px;box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);text-align: center;}
.howweare .howweareinfo img{margin-bottom: 20px;min-height: 56px;position: relative;display: inline-block;width: 70px;float: left;}
.howweareinfo h4{font-family: 'DM Sans', sans-serif;font-size: 20px;color: #385658;margin: 1px 0 10px 20px;padding: 0;line-height: 24px;text-align: left;font-weight: 700;float: left;width: 80%;}
.howweareinfo p{font-family: 'DM Sans', sans-serif;font-size: 13px;color: #626C6C;margin: 0 0 0 20px;padding: 0;text-align: left;font-weight: 400;width: 80%;float: left;line-height: 20px;}
.howweareinfo p a{color: #54BAED;text-decoration: none;outline: none;}
	
@media (max-width: 767px) {
.bannercontent {width: 100%;}
.bannerhomearea h1 {margin: 10px 0 15px;text-align: center;}
.bannerhomearea p {text-align: center;}
.buttons {text-align: center;}	
.homebannercv {width: 100%;}
.resumeservices1 {width: 100%;}
.resumeservicesdotsline {margin: 30px 0;width: 100%;text-align: center;}
.resumecoverletters .resumecoverblock {margin: 40px 0% 15px;max-width: 100%;}
.customcvtemplate h3 {margin: 0 0 20px 0%;width: 100%;}


}
@media (max-width: 480px) {
.bannerhomearea h1 {
  font-family: 'Cabin',sans-serif;font-size: 36px;}
.bannerhomearea p {font-size: 18px;}
.output {top: 10px;}
.howweare .howweareinfo img {float: none;}
.howweareinfo h4 {margin: 1px 0 10px 0px;text-align: center;width: 100%;}	
.howweareinfo p {margin: 0 0 0 0px;text-align: center;width: 100%;}		
}
@media (max-width: 320px) {
.bannerhomearea h1 {font-size: 24px;}
.mainmenu {float: right;}	
input[type="checkbox"]:checked.menubtn ~ .collapse {top: 55px;}	
.signin {margin: 20px 0 0;width: 100%;text-align: center;}	
.signin a {float: none;	}
.bannerhomearea p {font-size: 13px;}	
.whychooseblock .innerbox {padding-left: 0;padding-top: 75px;}	
.whychooseblock .innerbox .iconimg {text-align: center;width: 100%;}
	
	
}

