.selectage{float:none;margin:0 auto;padding:3% 5%;width:80%;clear:both;text-align:center;box-shadow:0 4px 15px 0 #01011166;background:#4442da;border-radius:15px}
.selectage h3{font-family:'Cabin',sans-serif;color:#FFF;font-size:33px;float:left;margin:0 0 20px;padding:0;width:100%;clear:both;text-align:center;line-height:42px;font-weight:700}
.selectage h3 span{color:#ffde00}
.selectage p{font-family:'Work Sans',sans-serif;color:#FFF;font-size:16px;float:left;margin:0;padding:0;text-align:center;width:100%;font-weight:400;text-transform:unset}
.selectexperience{float:left;margin:50px 0;padding:0;width:100%;clear:both;text-align:left}
.selectexperience .experiencebox{float:left;margin:0 3%;padding:0;width:19%;text-align:center}
.experiencebox a{padding:8px 0;background-color:#f7f6fb;float:left;margin:0;border:none;width:100%;text-align:center;color:#000;font-family:'Work Sans',sans-serif;font-size:13px;text-decoration:none;outline:none;border-radius:20px;box-shadow:0 4px 8px 0 #01011166}
.experiencebox a:hover{background-color:#ffde00;color:#000}


.informationrow{margin:0;padding:0;width:100%;float:left;clear:both}
.informationrow h3{font-family:'Cabin',sans-serif;font-weight:400;font-size:24px;margin:0 0 5px;padding:0;color:#302ea7;float:left;width:100%}
.informationrow p{font-family:'Work Sans',sans-serif;font-size:14px;color:#5c5c5c;margin:0 0 15px;padding:0;width:100%;float:left;font-weight:300}


.formraw {float: left;margin: 0;padding: 0;width: 100%;}
.browsepicture{float:right;margin:25px 0 0;padding:0;width:12%}
.browsepicture img{float:left;margin:0;padding:5px;width:112px;height:112px;-moz-border-radius:50%;-webkit-border-radius:50%;-khtml-border-radius:50%;border-radius:50%;border:1px solid #d7dde2;background-color:#FFF}
.browsepicture label{display:table;font-family:'Work Sans',sans-serif;font-weight:400;font-size:13px;color:#FFF;margin:15px 0 0;padding:4px 12px;float:left;width:100%;border:1px solid #302ea7;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:20px;text-align:center;text-transform:uppercase;letter-spacing:.4px;background-color:#302ea7;box-shadow:0 6px 15px 0 #0000003d}
.browsepicture input[type="file"]{display:none}
.browsepicture span.dis{width:100%;text-align:center;float:left;margin:-61% 0 0;padding:0;font-family:'Work Sans',sans-serif;font-weight:400;font-size:13px;color:#545454;line-height:16px;position:relative}

.formraw25 .typeahead,.formraw25 .dropdown-menu{width:24%}
.formraw25{float:left;margin:15px 1.7% 15px 0;padding:0;width:100%;max-width:25%}
.formraw33{float:left;margin:20px 3% 15px 0;padding:0;width:100%;max-width:38%}
.formraw50{float:left;margin:0 3% 15px 0;padding:0;width:100%;max-width:47%;position:relative}
.formraw75{float:left;margin:15px 3% 15px 0;padding:0;width:100%;max-width:79%}
.formraw100{float:left;margin:0 0 15px;padding:0;width:100%;max-width:100%}
.formraw25 label,.formraw50 label,.formraw75 label,.formraw33 label,.formraw100 label{font-family:'Work Sans',sans-serif;float:left;width:100%;margin:0 0 5px;padding:0;font-size:15px;font-weight:400;color:#545454;line-height:18px}
.formraw25 input.text,.formraw33 input.text,.formraw50 input.text,.formraw75 input.text,.formraw100 input.text{font-family:'Work Sans',sans-serif;font-size:13px;font-weight:400;color:#545454;margin:0;padding:.375rem .75rem;float:left;width:100%;border:1px solid #d7dde2;height:38px;line-height:1.5;display:block;background-color:#fdfdfd;border-radius:.25rem;box-shadow:none}
.formraw25 input.text:focus,.formraw33 input.text:focus,.formraw50 input.text:focus,.formraw75 input.text:focus,.formraw100 input.text:focus,.formraw25 input.text2:focus, formraw33 input.text2:focus{border:1px solid #118ef7}
.formraw25 input.text:active,.formraw33 input.text:active,.formraw50 input.text:active,.formraw75 input.text:active,.formraw100 input.text:active,.formraw25 input.text2:active, .formraw33 input.text2:active{border:1px solid #118ef7}
.formraw25 input.text2, .formraw33 input.text2{font-family:'Work Sans',sans-serif;font-size:13px;font-weight:400;color:#545454;margin:0;padding:.375rem .75rem .375rem 2.775rem;float:left;width:100%;border:1px solid #d7dde2;height:38px;line-height:1.5;display:block;background-color:#fdfdfd;border-radius:.25rem;box-shadow:none}
.formraw25 input.textfull,.formraw33 input.textfull,.formraw50 input.textfull,.formraw75 input.textfull,.formraw100 input.textfull{font-family:'Work Sans',sans-serif;font-size:13px;font-weight:400;color:#545454;margin:0 1% 0 0;margin-bottom:0;padding:5px 12px;float:left;width:100%;border:1px solid #3d6fdd;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px}
.formraw25 select.select,.formraw33 select.select,.formraw50 select.select,.formraw75 select.select,.formraw100 select.select{font-family:'Work Sans',sans-serif;font-size:13px;font-weight:400;color:#545454;margin:0 1% 0 0;padding:.375rem .75rem;float:left;width:100%;border:1px solid #d7dde2;-moz-border-radius:.25rem;-webkit-border-radius:.25rem;-khtml-border-radius:.25rem;border-radius:.25rem;height:38px;background-color:#fdfdfd}
.formraw25 select.select:focus,.formraw33 select.select:focus,.formraw50 select.select:focus,.formraw75 select.select:focus,.formraw100 select.select:focus{border:1px solid #118ef7}
.formraw25 select.select:active,.formraw33 select.select:active,.formraw50 select.select:active,.formraw75 select.select:active,.formraw100 select.select:active{border:1px solid #118ef7}
.formraw input.customtitle{font-family:'Poppins-Regular';font-size:12px;color:#6a6a6a;margin:0 1% 10px 0;padding:5px 12px;float:left;width:50%;border:1px solid #302ea7;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px}
.formraw textarea.explanantory{font-family:'Poppins-Regular';font-size:12px;color:#6a6a6a;margin:0 1% 0 0;padding:5px 12px;float:left;width:100%;min-height:120px;resize:none;border:1px solid #302ea7;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px}
#ui-datepicker-div{z-index:999!important}
.ui-widget-header{border:1px solid #302ea7!important;background-color:#302ea7!important;background-image:none!important}
ul.examplessection li span.highlight{color:#3d6fdd}
.ckeeditable span.highlight{color:#3d6fdd}
.ckeeditable ul li span.highlight{color:#3d6fdd}
.workhistorysummary ul.summary li .highlight,.ckeeditable .highlight{color:#3d6fdd}
.workhistorysummary{color:#909090;font-family:'Work Sans',sans-serif;font-size:11px}
.formraw50 i{color:#545454;position:absolute;right:3%;top:31px}
.checkbox{float:left;margin:0 0 0 50%;padding:0;width:45%;font-family:'Work Sans',sans-serif;font-size:15px;color:#5c5c5c;font-weight:500}
.checkbox input.radio{margin:9px 10px 0 0;padding:0;float:left}
.checkbox span{font-family:'Work Sans',sans-serif;font-size:13px;color:#545454;margin:7px 0 0;padding:0;float:left;font-weight:400}

.prevnextBtn {float: left;margin: 30px 0 0;padding: 30px 0 0;width: 100%;position: relative;}
.prevnextBtn .prevBtn {background-color: #FFF;color: #000;border: none;padding: 10px 20px;font-family: 'Cabin',sans-serif;font-weight: 300;font-size: 14px;cursor: pointer;border-radius: 20px;width: auto;margin: 0;float: left;text-align: center;text-decoration: none;outline: none;box-shadow: 3px 5px 10px 0 #3c39d247;}
.prevnextBtn .prevBtn:hover {background-color: #302ea7;}
#nextBtn {background-color: #f13c3c;color: #FFF;border: none;padding: 10px 20px;font-family: 'Cabin',sans-serif;font-weight: 700;font-size: 14px;cursor: pointer;border-radius: 20px;width: auto;margin: 0;float: right;text-align: center;box-shadow: 3px 5px 10px 0 #3c39d247;}
#prevBtn:hover, #nextBtn:hover {opacity: .8;}

.searchinggroup{float:left;margin:20px 2% 30px 0;padding:10px 0;width:48%}
.searchinggroupfull{float:left;margin:0 2% 0 0;padding:10px 0;width:100%}
.ckeeditable p{float:left;margin:0 0 15px;padding:0;width:100%}
.ckeeditable p span#line{float:left;margin:0 0 15px;padding:0;width:100%}
a.saveworkhistory{float:left;margin:0 0 10px;padding:6px 10px;width:100%;font-family:'Poppins-Medium';color:#FFF;font-size:12px;background-color:#11d445;text-decoration:none;outline:none;text-align:center;border-radius:24px;-moz-border-radius:24px;-webkit-border-radius:24px;-khtml-border-radius:24px}
.searchinggroup .searchbar{margin:0 0 10px;padding:0;float:left;width:100%;clear:both}
input:focus-visible{outline:none}
.searchbar input:focus-visible{outline:none}
.searchbar input{font-family:'Poppins-Regular';font-size:11px;color:#6a6a6a;margin:0;margin-bottom:0;padding:9px 12px 10px;float:left;width:90%;background-color:#FFF;border:1px solid #acacac;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;-khtml-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px}
.searchbar button{background-color:#3d6fdd;color:#fff;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;-khtml-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;border:none;padding:9px 10px}
.searchinggroup p.searchtitle{font-family:'Poppins-Regular';color:#4071dd;font-size:11px;margin:0;padding:0;float:left;width:96%;text-align:right}
ul.examplessection{float:left;margin:0;padding:0;width:100%;height:320px;overflow-y:scroll;scrollbar-color:#33d75f;scrollbar-width:thin;box-shadow:0 5px 10px 0 #3c39d247}
ul.examplessection li{float:left;margin:0 0 5px;padding:14px 10px 10px 30px;width:98%;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;background-color:#fff;background-image:url(../images/svg/add.svg);background-repeat:no-repeat;background-position:left center;font-family:'Work Sans',sans-serif;font-size:13px;color:#6a6a6a;min-height:56px;border:1px solid #3d6fdd;position:relative;background-size:17px}
ul.examplessection li.active{background-image:url("../images/svg/minus.svg");border:1px solid #ffd200}
ul.examplessection li span.add{transform:rotate(270deg);-webkit-transform:rotate(270deg);font-family:'Poppins-Regular';font-size:14px;color:#fff;font-weight:700;float:left;margin:0;padding:0;height:auto;text-align:center;vertical-align:middle;position:absolute;left:-3px;z-index:99;top:35%}
ul.examplessection li span.minus,.workhistorysummary ul.summary li span.minus,.containercv span.minus,.canvasdivpdf span.minus{visibility:hidden;font-size:0}
ul.examplessection li.active span.add,.workhistorysummary ul.summary li span.add,.containercv span.add,.canvasdivpdf span.add{visibility:hidden;font-size:0}
ul.examplessection li.active span.minus{transform:rotate(270deg);-webkit-transform:rotate(270deg);font-family:'Poppins-Regular';font-size:14px;color:#fff;font-weight:700;float:left;margin:0;padding:0;height:auto;text-align:center;vertical-align:middle;position:absolute;left:-10px;z-index:99;top:32%;visibility:visible}
.worksummaryarea{margin:0;padding:30px 0 90px;width:100%;float:left;background-color:#efefef}
.worksummarytextarea{float:left;margin:30px 0 0;padding:0;width:50%;text-align:center}
.worksummarytextarea p{font-family:'Work Sans',sans-serif;font-size:11px;margin:0 0 5px;padding:0;font-weight:400;float:left;color:#302ea7}

.workhistorysummary{margin:0;padding:0;width:100%;float:left}
.workhistorysummary ul{margin:0 0 5px;padding:0;width:100%;float:left}
.workhistorysummary ul li{margin:10px 0;padding:0;width:100%;float:left;background-color:#fff;list-style:none;border-left:5px solid #302ea7}
.workhistorysummary ul li .greenline{font-family:'Work Sans',sans-serif;font-size:0;color:#FFF;background-color:#302ea7;margin:0;padding:0;float:left}
.workhistorysummary ul li a{margin:0;padding:0;float:left;text-decoration:none;outline:none;width:100%}
.workhistorysummary p{font-family:'Work Sans',sans-serif;font-size:14px;float:left;margin:0;padding:20px 3% 0;width:21%;color:#282828}
.workhistorysummary ul.summary{float:left;margin:20px 0;padding:0 3%;width:75%;border-left:1px solid #b7b7b7}
.workhistorysummary ul.summary li{float:left;margin:0;padding:0 0 0 20px;width:100%;background-image:url(../images/listsummery.jpg);background-repeat:no-repeat;color:#909090;background-position:left 5px;font-family:'Work Sans',sans-serif;font-size:11px;border:none}
.addanotherposition{float:left;margin:0 0 20px;padding:15px 0;width:100%;text-align:center;background-color:#fff;border:1px dashed #acacac}
.addanotherposition a{font-family:'Work Sans',sans-serif;font-size:13px;color:#33d75f;text-decoration:none;outline:none;text-transform:uppercase}
.editandemoved{font-family:'Work Sans',sans-serif;font-size:13px;float:left;margin:0;padding:15px 0 0 3%;width:98%;color:#282828;text-align:right}
.editandemoved a{text-decoration:none;outline:none;margin:0 10px}
.btn-block-add{border:1px dashed #302ea7;font-weight:600;color:#302ea7!important;background-color:#f6f8fa;padding:18px 0;line-height:19px;float:left;width:100%;text-decoration:none;outline:none;text-align:center;font-family:'Poppins-Regular'}




.formraw select.selecthalf{font-family:'Work Sans',sans-serif;font-size:13px;font-weight:400;color:#545454;margin:0 1% 0 0;padding:.375rem .75rem;float:left;width:49%;border:1px solid #d7dde2;-moz-border-radius:.25rem;-webkit-border-radius:.25rem;-khtml-border-radius:.25rem;border-radius:.25rem;height:38px;background-color:#fdfdfd}
.formraw select.selecthalf:last-child{margin-right:0;float:right}
.formraw select.selecthalf:focus{border:1px solid #118ef7}
.formraw input.datehalf{font-family:'Poppins-Regular';font-size:12px;color:#6a6a6a;margin:0 1% 0 0;padding:5px 12px;float:left;width:38.5%;border:1px solid #3d6fdd;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
#paneledu,#flipedu{background-color:#4442da;color:#FFF;border:none;padding:10px 20px;font-family:'Cabin',sans-serif;font-weight:700;font-size:14px;cursor:pointer;border-radius:20px;width:auto;margin:10px 0 15px;float:left;text-align:center;box-shadow:3px 5px 10px 0 #3c39d247}
#paneledu{border-radius:0;padding:0;display:none;text-align:left;float:left;margin:0;width:100%}
#paneledu .ckereset{min-height:200px;width:100%!important;border-radius:0}


.educationalsummary{margin:0;padding:0;width:100%;float:left}
.educationalsummary ul{margin:0;padding:0;width:100%;float:left}
.educationalsummary ul li{margin:10px 0;padding:0;width:100%;float:left;background-color:#fff;list-style:none;border-left:5px solid #302ea7}
.educationalsummary ul li .greenline{font-family:'Poppins-Bold';font-size:14px;color:#1c1c1c;background-color:#33d75f;margin:0;padding:6% 5px;float:left}
.educationalsummary ul li .ndcolorline{font-family:'Poppins-Bold';font-size:14px;color:#1c1c1c;background-color:#33d7be;margin:0;padding:7% 5px;float:left}
.educationalsummary p{float:left;margin:0;padding:0 2% 0 3%;width:96%;color:#282828;font-family:'Poppins-Regular';font-size:14px}
.educationalsummary p a{color:#282828;font-family:'Poppins-Regular';font-size:14px;text-decoration:none;outline:none;float:left;width:100%;margin:0;padding:3% 0 10px}
.educationalsummary span{margin:0 5px}


.skilltextarea{float:left;margin:30px 0 0;padding:0;width:50%;text-align:center;border-radius:0}
.skilltextarea p{font-family:'Work Sans',sans-serif;font-size:11px;margin:0 0 5px;padding:0;font-weight:400;float:left;color:#302ea7}
.skilltextarea .ckechrome{margin:0}
.skilltextarea .ckereset{min-height:340px;width:100%!important}


.checkboxadditionalsection{float:left;margin:0;padding:0;width:32%;font-family:'Work Sans',sans-serif;font-size:16px;color:#5c5c5c}
.checkboxadditionalsection input.radio{margin:9px 10px 0 0;padding:0;float:left}
.checkboxadditionalsection span{font-family:'Work Sans',sans-serif;font-size:13px;color:#5c5c5c;margin:7px 0 0;padding:0;float:left;font-weight:300}
.affiliations h3,.accomplishments h3,.additionalinformation h3,.reference h3,.customfield h3{font-family:'Cabin',sans-serif;font-size:24px;margin:0;padding:0;color:#302ea7;float:left;width:100%;font-weight:400}
.affiliations .ckereset,.accomplishments .ckereset,.additionalinformation .ckereset,.reference .ckereset,.customfield .ckereset{min-height:200px;width:100%!important}

.additionalsectionarea{float:left;margin:0 4% 0 0;padding:0;width:100%;max-width:46%}
.formraw textarea{resize: none;width: 100%;margin: 0;padding: 0;float: left;height: 220px;}

.sidebarresumeviews{float:left;margin:0 0 30px;padding:0;width:100%}
.sidebarresumeviews h3.sidebartitle{margin:0 0 15px;padding:8px 10px;float:left;text-transform:uppercase;width:auto;font-family:'Cabin',sans-serif;font-weight:700;font-size:17px;color:#FFF;background-color:#f13c3c;text-align:center;border-radius:.25rem}
a.spellcheck{float:right;margin:-4px 0 0;padding:6px 20px;text-decoration:none;outline:none;font-family:'Poppins-Bold';color:#FFF;background-color:#33d75f;text-transform:uppercase;font-size:13px;-moz-border-radius:25px;-webkit-border-radius:25px;-khtml-border-radius:25px;border-radius:25px;clear:both}
.sidebarresumeviews ul{float:left;margin:0 0 0 10px;padding:0;width:auto;clear:both;list-style:none}
.sidebarresumeviews ul li{float:left;margin:0 0 5px;padding:0;width:100%;clear:both;list-style:none}
.sidebarresumeviews ul li a i{margin:3px 8px 0 0;float:left;color:#000;font-size:12px}
.sidebarresumeviews ul li a{text-decoration:none;outline:none;float:left;margin:0;padding:0;width:100%;clear:both;list-style:none;color:#242424;font-family:'Poppins-Regular';font-size:14px}
.sidebarresumeviews ul li a:hover{color:#4442da}
.addsection{float:left;margin:10px 0 0;padding:10px 0;clear:both;border-top:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;width:70%}
.canvasdivpdf{float:left;margin:0;padding:0 0 10px;width:100%;min-height:795px}
.addsection a{text-decoration:none;outline:none;float:left;margin:0;padding:0;width:100%;clear:both;list-style:none;color:#242424;font-family:'Poppins-Regular';font-size:15px}
.button{text-decoration:none;outline:none;float:left;margin:0;padding:0;width:100%;clear:both;list-style:none;color:#242424;font-family:'Poppins-Regular';font-size:15px;border:none;text-align:center;letter-spacing:.5px;font-weight:400;background:none}
.buttondown{background-color:#0505a9;color:#FFF;margin:0 0 0 15px;padding:10px 24px;text-align:center;text-decoration:none;outline:none;font-family:'Rubik',sans-serif;font-size:13px;float:right;border-radius:6px;box-shadow:0 0 7px 0 #939393}
.cvviews{float:left;margin:0;padding:0;width:100%}
.cvviews .cvviewstopsection{float:left;margin:0 0 10px;padding:0;width:100%}
a.resumetitletext{background-color:#0505a9;color:#FFF;margin:0;padding:10px 24px;text-align:center;text-decoration:none;outline:none;font-family:'Rubik',sans-serif;font-size:13px;float:left;border-radius:6px;box-shadow:0 0 7px 0 #939393}
a.resumetitletext img{margin:0 5px 0 0;float:left}
a.resumemoreoption{text-decoration:none;outline:none;font-family:'Poppins-Regular';font-size:13px;color:#242424;float:right;margin:0;padding:0}
a.resumemoreoption img{margin:0 0 0 5px;float:right}
.resumetitletext2{background-color:#f13c3c;color:#FFF;border:none;padding:10px 20px;font-family:'Cabin',sans-serif;font-weight:700;font-size:14px;cursor:pointer;border-radius:20px;width:auto;margin:0 0 0 15px;float:right;text-align:center;box-shadow:3px 5px 10px 0 #3c39d247}
.tempaltehtml {clear: both;border: 1px solid #e8ecf0;box-shadow: 0 0 10px rgba(88,88,95,0.12);}



.footertoolbar{float:left;margin:0;padding:15px 0;width:100%;background:#302ea7;position:fixed;left:0;bottom:0;z-index:9999}
.toolbatflipbtn{margin:0;padding:0;width:100%;float:left;text-align:center}
#flip{padding:5px 0;text-align:center;background-color:#FFF;border:solid 1px #FFF;font-family:'Poppins-SemiBold';font-size:19px;color:#000;float:none;margin:0;width:180px;border-radius:5px;display:inline-block}
#panel{display:none;float:left;width:100%;position:fixed;z-index:99999;bottom:62px;background-color:#f4f4f4;border-top:1px solid #e8ecf0;padding:10px 0;box-shadow:0 0 15px rgba(88,88,95,0.15)}
#flip2{padding:5px 0;text-align:center;background-color:#FFF;border:solid 1px #FFF;font-family:'Poppins-SemiBold';font-size:19px;color:#000;float:none;margin:0 30px;width:380px;border-radius:5px;display:inline-block}
#flip2 span{font-family:'Poppins-SemiBold';font-size:12px;color:#000}
#panel2{display:none;float:left;width:100%;position:fixed;z-index:99999;bottom:62px;background-color:#f4f4f4;border-top:1px solid #e8ecf0;padding:10px 0;box-shadow:0 0 15px rgba(88,88,95,0.15)}
#flip3{padding:5px 0;text-align:center;background-color:#FFF;border:solid 1px #FFF;font-family:'Poppins-SemiBold';font-size:19px;color:#000;float:none;margin:0;width:120px;border-radius:5px;display:inline-block}
#panel3{display:block;float:left;width:100%;position:fixed;z-index:99999;bottom:62px;background-color:#f4f4f4;border-top:1px solid #e8ecf0;padding:10px 0;box-shadow:0 0 15px rgba(88,88,95,0.15)}

.colorchoices{margin:0;padding:12px 15px 0 35px;float:left;width:100%;text-align:center}
.colorchoices img{margin:0 3px 0 0}
.color{display:inline;position:relative;padding-left:18px;margin-bottom:12px;margin-right:15px;cursor:pointer;font-size:22px;float:none;height:18px;width:18px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.color input{position:absolute;opacity:0;cursor:pointer}
.checkmark:after{content:"";position:absolute;display:none}
input:checked ~ .checkmark:after{display:block}
.checkmark:after{top:6px;left:6px;width:6px;height:6px;border-radius:50%;background:#fff}
.color1 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#ffd200;border-radius:50%}
.color1 input:checked ~ .checkmark{background-color:#ffd200}
.color2 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#0f8612;border-radius:50%}
.color2 input:checked ~ .checkmark{background-color:#0f8612}
.color3 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#922bdb;border-radius:50%}
.color3 input:checked ~ .checkmark{background-color:#922bdb}
.color4 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#e060ef;border-radius:50%}
.color4 input:checked ~ .checkmark{background-color:#e060ef}
.color5 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#576d7b;border-radius:50%}
.color5 input:checked ~ .checkmark{background-color:#576d7b}
.color6 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#bdaa7e;border-radius:50%}
.color6 input:checked ~ .checkmark{background-color:#bdaa7e}
.color7 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#19409a;border-radius:50%}
.color7 input:checked ~ .checkmark{background-color:#19409a}
.color8 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#1b87df;border-radius:50%}
.color8 input:checked ~ .checkmark{background-color:#1b87df}
.color9 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#39c3b1;border-radius:50%}
.color9 input:checked ~ .checkmark{background-color:#39c3b1}
.color10 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#d10c1a;border-radius:50%}
.color10 input:checked ~ .checkmark{background-color:#d10c1a}
.color11 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#fb7b67;border-radius:50%}
.color11 input:checked ~ .checkmark{background-color:#fb7b67}
.color12 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#e9a506;border-radius:50%}
.color12 input:checked ~ .checkmark{background-color:#e9a506}
.color13 .checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-image:url(../images/color13.jpg);background-repeat:no-repeat;border-radius:50%}
.color13 input:checked ~ .checkmark{background-image:url(../images/color13.jpg);background-repeat:no-repeat}


.fontweightraw{float:left;margin:0;padding:0 5%;width:100%;clear:both}
.fontweight{float:left;margin:5px 0 15px 16px;padding:0;width:auto}
.fontweight span{color:#6a6a6a;font-family:'Poppins-Regular';font-size:14px;margin:0 0 0 10px;padding:0}
.fontweight1{float:left;margin:5px 0 15px 6%;padding:0;width:auto}
.fontweight1 span{color:#6a6a6a;font-family:'Poppins-Regular';font-size:14px;margin:0 0 0 10px;padding:0}
.fontweightraw button input{float:left;margin:4px 15px 0 0}
.fontweightraw button{border:none;background:none;padding:0;margin:7px 0 0 21px;color:#6a6a6a;font-family:'Poppins-Regular';font-size:14px}
.customfontraw{float:left;margin:0;padding:0 20px;width:100%;clear:both}
.customfontraw .rawleft{float:left;margin:0 5%;padding:0;width:40%}
.customfontraw .rawleft span{float:left;margin:4px 0 0;padding:0;width:65%;color:#2c2c2c;font-family:'Poppins-SemiBold';font-size:12px;text-transform:uppercase}
.customfontraw .rawleft span label{margin:4px 0 0 5px}
.customfontraw input[type=range]::-moz-focus-outer{border:0}
.customfontraw input[type=select]::-moz-focus-outer{border:0}
.pagefinalize{width:960px;max-width:960px;margin:0 auto}
.slider{-webkit-appearance:none;width:30%;height:14px;background-image:url(../images/sliderbg.jpg);background-repeat:repeat-x;background-position:center center;outline:none;border:none;opacity:.7;-webkit-transition:.2s;transition:opacity .2s;background-color:#f4f4f4}
.slider:hover{opacity:1}
.slider::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;width:14px;height:14px;background:#302ea7;cursor:pointer;border:none;-moz-border-radius:50%;-webkit-border-radius:50%;-khtml-border-radius:50%;border-radius:50%;outline:none}
.slider::-moz-range-thumb{width:14px;height:14px;background:#302ea7;cursor:pointer;border:none;-moz-border-radius:50%;-webkit-border-radius:50%;-khtml-border-radius:50%;border-radius:50%;outline:none}


.allcvtemp{float: left;margin: 0;padding: 0;width: 100%;overflow: hidden;height: 260px;}
.allcvtemp .item{float: left;margin: 0 0.2%;padding: 0;width: 100%;max-width: 12%;}



@media (max-width: 767px) {
.logo {width: 100%;text-align: center;display: grid;}
.logo a img {float: none;}	
.cvheadermenu {float: left;margin: 0 0px 0 0;width: 100%;}
.signin {margin: 20px 0 0;width: 100%;text-align: center;}	
.signin a {float: none;	}
.selectage {width: 100%;}	
.selectexperience .experiencebox {margin: 0 1%;width: 23%;}	
.selecttemplates {padding: 0% 5% 0;}	
.selecttemplates {padding: 0% 0% 0;width: 100%;}	
.tab button {margin: 0 1%;}	
.cvblocks .cvtemparea {max-width: 46%;}	
.browsepicture {width: 100%;text-align: center;}	
.browsepicture img {float: none;}	
.browsepicture span.dis {margin: -75px 0 0;}	
.browsepicture label {margin: 0 auto;float: none;max-width: 140px;}	
.informationrow h3 {text-align: center;}	
.informationrow p {text-align: center;}	
.formraw25, .formraw33, .formraw50, .formraw75, .formraw100{width: 100%;max-width: 100%;margin: 15px 0 0px 0;}
.prevnextBtn {padding: 0px 0 0;}	
.checkbox {margin: 0 0 0 0%;width: 100%;}	
.searchinggroup {margin: 20px 0% 0px 0;width: 100%;}	
.worksummarytextarea {width: 100%;margin: 10px 0 0;}	
.worksummarytextarea p {text-align: center;width: 100%;}	
ul.examplessection {margin: 0;padding: 5px 0;width: 100%;height: auto;overflow-x: scroll;display: -webkit-box;}	
ul.examplessection li {float: left;margin: 0 2% 5px;padding: 14px 10px 10px 30px;width: 46%;list-style: none;}	
.skilltextarea {width: 100%;}	
.skilltextarea p {text-align: center;width: 100%;}
.formraw input.customtitle {width: 100%;}	
	
}
@media (max-width: 480px) {
	.cvheadermenu ul li a {padding: 0 0;font-size: 11px;}
	.cvtempimg a span {font-size: 12px;padding: 10px 14px;left: 12.5%;}
	ul.examplessection li {width: 80%;}
	.workhistorysummary p {width: 100%;}
	.workhistorysummary ul.summary {width: 100%;}
	.additionalsectionarea {margin: 0;max-width: 100%;}
	
}
@media (max-width: 320px) {
.selectage h3 {font-size: 21px;line-height: 30px;}	
.selecttemplates h3 {font-size: 21px;line-height: 26px;}
.cvblocks .cvtemparea {margin: 0 0% 0px;width: 100%;max-width: 100%;}	
.cvtempimg a span {left: 22.5%;}	
.selectexperience {margin: 20px 0;}	
.selectexperience .experiencebox {margin: 7px 1%;width: 48%;}	
.informationrow h3 {font-size: 19px;}	
.informationrow p {font-size: 12px;}	
.formraw25 label, .formraw50 label, .formraw75 label, .formraw33 label, .formraw100 label {font-size: 13px;}	
ul.examplessection li {width: 80%;}	
.workhistorysummary p {width: 100%;}
.workhistorysummary ul.summary {width: 100%;}	
.additionalsectionarea {margin: 0;max-width: 100%;}	
	
}

