.clr{clear: both;}
.cv_template{font-family: 'Nunito', sans-serif;margin:0 auto;padding: 15px;border: 3px solid #ddd;cursor: pointer;}
.cv_template a{font-family: 'Nunito', sans-serif;font-size: 12px;color: #000;text-decoration: none;outline: none; }
.cv_template p{font-family: 'Nunito', sans-serif;font-size: 12px;color: #000;margin: 0 0 10px 0;padding: 0;}
.cv_template ul,.cv_template ol{float: left;margin: 0 0 0 0;padding: 0 0;list-style: none;width: 100%}
.cv_template ul li, .cv_template ol li{color: #000;margin: 0 0 4px 2%;padding: 0 0 0 0;float: left;list-style: disc;width: 98%;}
.cv_template ul.menuhalf,.cv_template ol.menuhalf{float: left;margin: 0 0 0 0;padding: 0 0;list-style: none;width: 100%}
.cv_template ul.menuhalf li, .cv_template ol.menuhalf li{font-family: 'Nunito', sans-serif;font-size: 12px;color: #000;margin: 0 0 4px 2%;padding: 0 0 0 0;float: left;list-style: disc;width: 48%;}
.cv_template_raw{float: left;margin: 0 0 0 0;padding: 15px 0px 15px 0 !important;width: 100%;}
.name {font-family: 'Domine', serif;float: left;width: 100%;text-align: center;margin: 0 0 5px 0;padding: 0 0 0px 0;font-size: 24px;color: #2b2b2b;text-transform: uppercase;font-weight: 700;}
.professionvtitle{font-family: 'Domine', serif;float: left;width: 100%;text-align: center;margin: 0;padding: 0 0 10px 0;font-size: 16px;color: #7b7b7b;font-style: italic;border-bottom: 1px solid #000;}
.info{float: left;margin: 0px 0 15px 0;padding: 20px 0 5px 0;width: 100%;text-align: center;border-bottom: 4px solid #000;}
.info_contact{font-family: 'Nunito', sans-serif;font-size: 12px;  color: #000000;margin: 0 0 0 0;padding: 5px 0 0px 0%;width: 100%;text-align: center;  clear: both;} 
.cv_template_raw h3{float: left;margin: 0 0 15px 0;padding: 0;width: 100%;text-align: center;text-transform: uppercase;font-weight: 700;font-family: 'Domine', serif;font-size: 21px;color: #000000;}
.cv_template_raw h3 span{padding: 0 20px;background-color: #fff;position: relative; z-index: 10;}
.cv_template_raw h3:after{height: 1px;width: 100%;position: relative;float: left;left: 0;bottom: 12px;background-color: #000;z-index: 1;content: "";}
.cv_template_raw h4{font-family: 'Domine', serif;font-size: 17px;color: #000000;margin: 0 0 15px 0;padding: 0 10px 0 0;width: auto;text-transform: uppercase;font-weight: 700;float: left;background-color: #fff;}
.cv_template_raw h4 span{font-size: 12px;font-weight: 600;text-transform: none;line-height: 24px;}
.date{font-size: 12px;font-weight: 700;float: right;width: auto;background-color: #fff;
padding: 0 0 0 10px;}
.work_history{float: left;width: 100%; margin: 0 0 20px 0;}	
.work_history p{font-size: 12px;color: #000;margin: 0;padding: 0;width: 100%;float: left;}
.cv_template_width{width: 835px;}